

body {
    background-color: #c2a712;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.pizza {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid orange;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
}


img {
    margin: auto;
    display: block;
}
.medium {
    background-color: #CFD4C5;
}

.large {
    background-color: #551B14;
}

.small {
    background-color: #EFB9CB;
}

.contacts {
    background-color: #E6ADEC;
    
}

@media (min-width: 750px) {
    .pizzas {
        display: flex;
    }
}
